body{ font-family: Helvetica, sans-serif; }
.container{ max-width: 500px; margin: auto; }
h1{ text-align: center; }
textarea { width: 100%; }
button{ margin-top: 1em; }
footer{ font-size: 0.8em; text-align: center; margin: 1em 0; }
a{ color: #0000DD; text-decoration: none; }
